.container {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  @media only screen and (max-width: 576px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
  }
  .title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }
  .buttonDabba {
    text-align: center;
    .button {
      border-radius: 40px;
      width: 10rem;
    }
  }
  .dropdown {
    border-radius: 40px;
    text-align: center;
  }
}
